@{
    ViewData["Title"] = "Help";
}

<h1>How to use IVEA.</h1>
<br />
<h3>What is IVEA?</h3>
<p>
    IVEA is a computer tool that allows to value ecologically agricultural ecosystems. It converts qualitative measurements and assessments into quantitative ones, valuing for this purpose 13 indicators related to the health, quality and state of agro-ecosystems.
    The tool is not designed to ecologically value natural ecosystems, although it can differentiate the conservation status of a group of them, based on the criteria of the evaluators, where their experience plays a fundamental role.
    IVEA has a simple design, available for work from the producers themselves, to slightly more specialized personnel, fulfilling the expectation of comparison, between the progress of various agro-ecosystems, which are subjected to different exploitation regimes, always under the watchful eye. Strengthening the ecological functioning of the agro-ecosystem.
</p>

<h3>What is IVEA used for?</h3>
<p>
    IVEA is used for the monitoring of agro-ecosystems, through the assessment of its fundamental elements. The assessed aspects are collected in a database. These serve as a state of comparison from the ecological perspective, regarding the functioning of the agro-ecosystem.
    The general assessment of the agro-ecosystem, leads us to establish strategies to raise the ecological quality of the agro-ecosystem and therefore its level of resilience against adverse changes in a general sense.
    Towards the inside of each indicator, IVEA offers an assessment of the same from measurements, personal assessments of the person conducting the survey and the results of the surveys carried out on the producers, allowing the identification of critical elements that affect the ecological performance of the agricultural ecosystem.
</p>

<h3>How are data organized and processed?</h3>
<p>
    The data are stored in an SQL database, allowing the integrity and consistency of all the information to be maintained. They respond objectively to the reality of the business. The data entry is done through 4 main views. These define the farms to be sampled, the indicators and their specificity and the samplings carried out on the farms.
    The data referring to farms are entered with a high level of systematicity, as are the data referring to sampling. This is not the case with the data of the indicators and their specificity which are already predefined.
</p>
