@{
    ViewData["Title"] = "Home Page";
}

</div>
<div class="text-center">
    <img src="~/images/ivea1.svg">
    <h1 class="display-4">IVEA</h1>
    <h3>Ecological valuation index of agroecosystems</h3>
    <p>Learn more about <a href="~/Home/Help">IVEA</a>.</p>
</div>
