@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IVEA</h1>
    <h3>Ecological valuation index of agroecosystems</h3>
    <p>Learn more about <a href="~/Home/Help">IVEA</a>.</p>
</div>
