@model IEnumerable<IVEACore.Models.IndicatorSpecificity>

@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Indicator Specificities</h1>

<table id="indicatorSpecificity" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Indicator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specificity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:110px" class="dt-center">
                    @Html.DisplayFor(modelItem => item.Id_Indicator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specificity)
                </td>
            </tr>
        }
    </tbody>
</table>