@model IVEACore.Models.FarmSampling

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Farm Sampling</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_Farm" class="control-label"></label>
                
                @Html.DropDownList("Id_Farm", null ,new { @class = "form-control" })
                @*@Html.DropDownListFor(model => model.City, ViewBag.CityList as SelectList, new { @class = "form-control" })*@
                @*<input asp-for="Id_Farm" class="form-control" />*@
                <span asp-validation-for="Id_Farm" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DateSampling" class="control-label"></label>
                <input asp-for="DateSampling" class="form-control" />
                <span asp-validation-for="DateSampling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_CFV" class="control-label"></label>
                <input asp-for="Description_CFV" class="form-control" />
                <span asp-validation-for="Description_CFV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_CFV" class="control-label"></label>
            
                @Html.DropDownList("CFV_Value", null, new { @class = "form-control" })
                @*<input asp-for="Value_CFV" class="form-control" />*@
                
                <span asp-validation-for="Value_CFV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_DAS" class="control-label"></label>
                <input asp-for="Description_DAS" class="form-control" />
                <span asp-validation-for="Description_DAS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_DAS" class="control-label"></label>
                <input asp-for="Value_DAS" class="form-control" />
                <span asp-validation-for="Value_DAS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_DFS" class="control-label"></label>
                <input asp-for="Description_DFS" class="form-control" />
                <span asp-validation-for="Description_DFS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_DFS" class="control-label"></label>
                <input asp-for="Value_DFS" class="form-control" />
                <span asp-validation-for="Value_DFS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_MPE" class="control-label"></label>
                <input asp-for="Description_MPE" class="form-control" />
                <span asp-validation-for="Description_MPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_MPE" class="control-label"></label>
                <input asp-for="Value_MPE" class="form-control" />
                <span asp-validation-for="Value_MPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_NCS" class="control-label"></label>
                <input asp-for="Description_NCS" class="form-control" />
                <span asp-validation-for="Description_NCS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_NCS" class="control-label"></label>
                <input asp-for="Value_NCS" class="form-control" />
                <span asp-validation-for="Value_NCS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_NES" class="control-label"></label>
                <input asp-for="Description_NES" class="form-control" />
                <span asp-validation-for="Description_NES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_NES" class="control-label"></label>
                <input asp-for="Value_NES" class="form-control" />
                <span asp-validation-for="Value_NES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_NRS" class="control-label"></label>
                <input asp-for="Description_NRS" class="form-control" />
                <span asp-validation-for="Description_NRS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_NRS" class="control-label"></label>
                <input asp-for="Value_NRS" class="form-control" />
                <span asp-validation-for="Value_NRS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_PES" class="control-label"></label>
                <input asp-for="Description_PES" class="form-control" />
                <span asp-validation-for="Description_PES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_PES" class="control-label"></label>
                <input asp-for="Value_PES" class="form-control" />
                <span asp-validation-for="Value_PES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_RCES" class="control-label"></label>
                <input asp-for="Description_RCES" class="form-control" />
                <span asp-validation-for="Description_RCES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_RCES" class="control-label"></label>
                <input asp-for="Value_RCES" class="form-control" />
                <span asp-validation-for="Value_RCES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_RCS" class="control-label"></label>
                <input asp-for="Description_RCS" class="form-control" />
                <span asp-validation-for="Description_RCS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_RCS" class="control-label"></label>
                <input asp-for="Value_RCS" class="form-control" />
                <span asp-validation-for="Value_RCS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_RES" class="control-label"></label>
                <input asp-for="Description_RES" class="form-control" />
                <span asp-validation-for="Description_RES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_RES" class="control-label"></label>
                <input asp-for="Value_RES" class="form-control" />
                <span asp-validation-for="Value_RES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_VBS" class="control-label"></label>
                <input asp-for="Description_VBS" class="form-control" />
                <span asp-validation-for="Description_VBS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_VBS" class="control-label"></label>
                <input asp-for="Value_VBS" class="form-control" />
                <span asp-validation-for="Value_VBS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_AF" class="control-label"></label>
                <input asp-for="Description_AF" class="form-control" />
                <span asp-validation-for="Description_AF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value_AF" class="control-label"></label>
                <input asp-for="Value_AF" class="form-control" />
                <span asp-validation-for="Value_AF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalsAmount" class="control-label"></label>
                <input asp-for="AnimalsAmount" class="form-control" />
                <span asp-validation-for="AnimalsAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="IVEA" class="control-label"></label>*@
                <input type="hidden" asp-for="IVEA" class="form-control" value=0 />
                <span asp-validation-for="IVEA" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
